@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit&family=Kumbh+Sans:wght@200&family=Montserrat:wght@200&family=PT+Sans&family=Roboto+Condensed:wght@300&family=Smooch+Sans:wght@500&display=swap');
body{
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden !important; 
}
img.logoHeader{
    width: 150px; 
    margin-top: -40px;
    margin-bottom: -40px; 
    margin-left: 200px;
}  
p.logoPara{
    color: black;
    position: absolute;
    top: 75px;
    left: 260px;
}
 .buttons1{
    margin-left: 600px !important    ; 
    margin-top: -10px !important;
    
 }
 
 .reqbut{
    border: 1px solid #B0BF40 !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
border-radius: 6px !important; 
 }
 @media only screen and (max-width:1440px) and (min-width:1368px){
    .buttons1{
        margin-left: 500px !important    ;  
     }
 }
 @media only screen and (max-width:1367px) and (min-width:1297px){
    .buttons1{
        margin-left: 500px !important    ;  
     }
 }
 @media only screen and (max-width:1296px) and (min-width:1281px){
    .buttons1{
        margin-left: 500px !important    ;  
     }
 }
 @media only screen and (max-width:1280px) and (min-width:1201px){
    .buttons1{
        margin-left: 400px !important    ;  
     }
 }
 @media only screen and (max-width:1200px) and (min-width:1025px){
    .buttons1{
        margin-left: 300px !important    ;  
     }
     img.logoHeader{
        width: 150px; 
        margin-top: -40px;
        margin-bottom: -40px; 
        margin-left: 100px;
    }  
    p.logoPara{
        color: black;
        position: absolute;
        top: 75px;
        left: 160px;
    }
 }
 @media only screen and (max-width:1024px) and (min-width:1009px){
    .buttons1{
        margin-left: 170px !important    ;  
     }
     img.logoHeader{
        width: 150px; 
        margin-top: -40px;
        margin-bottom: -40px; 
        margin-left: -80px;
    }  
    p.logoPara{
        color: black;
        position: absolute;
        top: 75px;
        left: 80px;
    }
 }
 @media only screen and (max-width:1008px) and (min-width:961px){
    .buttons1{
        margin-left: 480px !important    ;  
     }
 }
 @media only screen and (max-width:960px) and (min-width:901px){
    .buttons1{
        margin-left: 430px !important    ;  
     }
 }
 @media only screen and (max-width:900px) and (min-width:891px){
    .buttons1{
        margin-left: 380px !important    ;  
     }
 }
 @media only screen and (max-width:890px) and (min-width:822px){
    .buttons1{
        margin-left: 350px !important    ;  
     }
 }
 @media only screen and (max-width:821px) and (min-width:769px){
   .buttons1{
       margin-left: 250px !important    ;  
    }
    img.logoHeader{
      width: 150px; 
      margin-top: -40px;
      margin-bottom: -40px; 
      margin-left: 80px;
  }  
  p.logoPara{
      color: black;
      position: absolute;
      top: 75px;
      left: 80px;
  }
}
 @media only screen and (min-width:769px){
.res_nav{
    display: none;
}
 }
 @media only screen and (max-width:768px){
    .buttons1{
        display: none;
    }
 }
 @media only screen and (max-width:673px) and (min-width:642px){
     
 }
 @media only screen and (max-width:641px) and (min-width:602px){
    
 }


 /* ............................. */
 
    
 .off__canvas{
   color: white !important; 
   margin-top:134px;
   width: 50%; 
   height: 600px;   
}
.off__canvasbody{
    /* background-color: #24336A; */
    background-color: white;
   width: 100%; 
  padding-top: 0px;
}
button.open__button{ 
   margin-top: -30px !important;
   border: none;
   width: 180px;
    
} 
ul.listNav{
   list-style: none;
   color: #4a6f8a !important;
   font-size: 15px;
   padding-top: 0px;
   text-align: left;   
}
span.whiteClr,.menuClr{
  color:#24336A !important;
}
li.listItemNav{
   padding-bottom:0px; 
   padding-top: 0px;
   color: #f8bd74 !important;
}
.lineNav{
   background-color: #606b93;
}

  
     
   .res_nav{
      margin-left: 410px !important;
      border: none !important;
      margin-top: 10px !important;
      
   }
  
  
 
  @media only screen and (max-width:768px){
    img.logoHeader{
        width: 150px; 
        margin-top: -40px;
        margin-bottom: -40px; 
        margin-left: 50px;
    }  
    p.logoPara{
        color: black;
        position: absolute;
        top: 75px;
        left: 110px;
    }
  
    button.open__button{
       margin-left: -20px; 
       margin-top: 8px; 
   }
  
  }
  @media only screen and (max-width:672px) and (min-width:641px){
    .TextfieldSearchbar{
       width: 350px !important;     
    } 
    img.logoCareer{
       width: 60px;
       margin-top: -10px;
       margin-left: -80px; 
    }
    button.open__button{
       margin-left: -20px; 
       margin-top: 8px; 
   }
      .searchIcon{
        margin-left:   -15px;
      } 
      span.iconNavHome{
         padding-left: 140px  ;
      }
      span.iconNavWho{
         padding-left: 130px  ;
       }
       span.iconNavBook{
          padding-left: 100px;
       }
       span.iconNavCon{
          padding-left: 128px;
       }
       span.iconNavabout{
        padding-left:135px;
     }
       span.iconNavUs{
          padding-left:110px;
       }
      .res_nav{
         margin-left:330px !important;
         border: none !important;
         margin-top: 10px !important;
         
      }
  }
   
  @media only screen and (max-width:640px) and (min-width:601px){
   .res_nav{
      margin-left:330px !important;
      border: none !important;
      margin-top: 10px !important;
      
   }  
    button.open__button{
       margin-left: -30px; 
       margin-top: 8px; 
   }
   span.iconNavHome{
      padding-left: 120px  ;
   }
   span.iconNavWho{
      padding-left: 110px  ;
    }
    span.iconNavBook{
       padding-left: 80px;
    }
    span.iconNavCon{
       padding-left: 108px;
    }
    span.iconNavabout{
     padding-left:115px;
  }
    span.iconNavUs{
       padding-left:90px;
    }
  }
  @media only screen and (max-width:600px) and (min-width:597px){
   .res_nav{
      margin-left:300px !important;
      border: none !important;
      margin-top: 10px !important;
      
   }  
    button.open__button{
       margin-left: -30px; 
       margin-top: 8px; 
   }
   span.iconNavHome{
      padding-left: 120px  ;
   }
   span.iconNavWho{
      padding-left: 110px  ;
    }
    span.iconNavBook{
       padding-left: 80px;
    }
    span.iconNavCon{
       padding-left: 108px;
    }
    span.iconNavabout{
     padding-left:115px;
  }
    span.iconNavUs{
       padding-left:90px;
    }
  }
  @media only screen and (max-width:596px) and (min-width:542px){
   .res_nav{
      margin-left:390px !important;
      border: none !important;
      margin-top: 10px !important;
      
   }  
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: 60px; 
       margin-top: 8px; 
       width: 90px;
   }
   span.iconNavHome{
      padding-left: 120px  ;
   }
   span.iconNavWho{
      padding-left: 110px  ;
    }
    span.iconNavBook{
       padding-left: 80px;
    }
    span.iconNavCon{
       padding-left: 108px;
    }
    span.iconNavabout{
     padding-left:115px;
  }
    span.iconNavUs{
       padding-left:90px;
    }
   
   
   
  }
  @media only screen and (max-width:541px) and (min-width:482px){
   .res_nav{
      margin-left:370px !important;
      border: none !important;
      margin-top: 10px !important;
      
   }  
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: 40px; 
       margin-top: 8px; 
       width: 80px;
   }
   span.iconNavHome{
      padding-left: 90px  ;
   }
   span.iconNavWho{
      padding-left:80px  ;
    }
    span.iconNavBook{
       padding-left: 50px;
    }
    span.iconNavCon{
       padding-left: 78px;
    }
    span.iconNavabout{
     padding-left:85px;
  }
    span.iconNavUs{
       padding-left:60px;
    }
   
  
  
  }
  @media only screen and (max-width:481px) and (min-width:431px){
   .res_nav{
      margin-left:370px !important;
      border: none !important;
      margin-top: 10px !important;
      
   }  
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: -20px; 
       margin-top: 8px; 
       width: 80px;
   }
  
    .off__canvas{  
      margin-top: 92px;
      width: 60%;    
   }
    
    
    
   
   
   }
  @media only screen and (min-width:430px){
     .search2{
         display: none;
     }
  }
  @media only screen and (max-width:430px){
    p.logoPara{
        color: black;
        position: absolute;
        top: 75px;
        left: 60px;
    }
  
   img.logoHeader{ 
      margin-top: -45px;
      margin-bottom: -40px; 
      margin-left: 20px !important; 
      min-width: 100px;
  }
   .res_nav{
      margin-left:300px !important;
      border: none !important;
      margin-top: 10px !important;
      
   } 
   .off__canvas{   
      width: 100%  ;    
    } 
  
    button.open__button{
       margin-left: -20px; 
       margin-top: 15px; 
       width: 95px;
   }
   
    
    
    
    
  }
  @media only screen and (max-width:415px){
   img.logoHeader{ 
      margin-top: -45px !important;
      margin-bottom: -40px; 
      margin-left: 20px !important; 
      min-width: 100px;
  }
   .res_nav{
      margin-left:300px !important;
      border: none !important;
      margin-top: 10px !important;
      
   } 
   .off__canvas{   
      width: 100%  ;    
    } 
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: -20px; 
       margin-top: 15px; 
       width: 95px;
   }
   
  }
  @media only screen and (max-width:395px){
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 20px !important; 
      min-width: 100px;
  }
   .res_nav{
      margin-left:300px !important;
      border: none !important;
      margin-top: 10px !important;
      
   } 
   .off__canvas{   
      width: 100%  ;    
    } 
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: -40px; 
       margin-top: 15px; 
       width: 95px;
   }
   
  }
  @media only screen and (max-width:391px){
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 20px !important; 
      min-width: 100px;
  }
   .res_nav{
      margin-left:300px !important;
      border: none !important;
      margin-top: 10px !important;
      
   } 
   .off__canvas{   
      width: 100%  ;    
    } 
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: -40px; 
       margin-top: 15px; 
       width: 95px;
   }
   
  }
  @media only screen and (max-width:376px){
    .off__canvas{  
        margin-top: 148px;
        width: 60%;    
     }
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 20px !important; 
      min-width: 100px;
  }
  p.logoPara{
    color: black;
    position: absolute;
    top: 98px;
    left: 60px;
}
   .res_nav{
      margin-left:140px !important;
      border: none !important;
      margin-top: 30px !important;
      
   } 
   .off__canvas{   
      width: 100% !important ;    
    } 
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: -40px; 
       margin-top: 15px; 
       width: 95px;
   }
 
  }
  @media only screen and (max-width:365px){
 
   img.logoHeader{ 
      margin-top: 7px !important;
      margin-bottom: -40px; 
      margin-left: 20px !important; 
      min-width: 100px;
  }
   .res_nav{
      margin-left:120px !important;
      border: none !important;
      margin-top: 30px !important;
      
   } 
   .off__canvas{   
      width: 100% !important ;    
    } 
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: -40px; 
       margin-top: 15px; 
       width: 95px;
   }
   
  }
  @media only screen and (max-width:380px){
    .TextfieldSearchbar2{
       width: 170px !important;
       margin-left: 40px;
    }
    .searchIcon2{
       margin-left: 0px !important;
    }
     button.open__button{
         margin-left: 100px;  
         min-width: 90px;
         margin-top: -2px;
     }
     img.logoCareer{
       margin-top: -20px;
       margin-left: 20px; 
       min-width: 180px !important ;
    }
     .off__canvas{   
         width: 80%;    
      }
      ul.listNav{ 
         font-size: 12px; 
     } 
   
  }
  @media only screen and (max-width:320px){
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 20px !important; 
      min-width: 100px;
  }
   .res_nav{
      margin-left:230px !important;
      border: none !important;
      margin-top: 15px !important;
      
   } 
   .off__canvas{   
      width: 100% !important ;    
    } 
   img.logoHeader{ 
      margin-top: -30px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: -40px; 
       margin-top: 15px; 
       width: 95px;
   }
   p.logoPara{
    color: black;
    position: absolute;
    top: 82px;
    left: 60px;
}
  }
  
  
  @media only screen and (max-width:280px){
   img.logoHeader{ 
      margin-top: -30px !important;
      margin-bottom: -40px; 
      margin-left: 20px !important; 
      min-width: 100px;
  }
   .res_nav{
      margin-left:190px !important;
      border: none !important;
      margin-top: 15px !important;
      
   } 
   .off__canvas{   
      width: 100% !important ;    
    } 
   img.logoHeader{ 
      margin-top: 0px;
      margin-bottom: -40px; 
      margin-left: 50px; 
  } 
    button.open__button{
       margin-left: -40px; 
       margin-top: 15px; 
       width: 95px;
   }
  
  }